.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列 */
  gap: 20px; /* アイテム間の余白 */
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.list a{
  text-decoration: none;
  color: black;
}

.list p {
  font-size: 0.7em;
  color: #666;
}

.item-content {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.2s;
}

.item-content:hover {
  transform: scale(1.05);
}

.item-content h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* ▼ スマホや小さな画面のときは2列に切り替え */
@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr); /* 2列 */
  }
}